/*---GENERAL PROPERTIES---*/
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: Rubik Scribble;
}


#prueba{
    display: grid;
    margin-top: 10px;
    font-size: 0;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-gap: 20px 22px;
    justify-content: center;
    padding: 0 25px;
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}